.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p:first-child {
  @apply mt-0;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown h1 {
  @apply text-6xl mt-12 mb-4 leading-snug;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown h5 {
  @apply text-xl mt-8 mb-0 leading-snug;
}

.markdown blockquote {
  @apply border-l-2 border-black pl-4
}
.markdown blockquote {
  @apply dark:border-white;
}

.markdown code {
  color: #d7d4f0;
  background-color: #292a2b;
  overflow: auto;
  padding: 0rem 0.5rem 0.15rem 0.5rem;
}
.markdown pre {
  padding: 1rem;
  color: #d7d4f0;
  background-color: #292a2b;
}
.markdown pre code {
  display: block;
}