@tailwind base;
@tailwind components;
@tailwind utilities;

.dotted {
    background: radial-gradient(currentColor 1px, transparent 1px);
    color: yellow;
    background-size: calc(10 * 1px) calc(10 * 1px);
}
